# Work in Progress

Initialing libraries

In [2]:
import pandas as pd

Reading files

In [3]:
train_identity = pd.read_csv('E:/Competition/Kaggle/IEEE Fraud Detection/train_identity.csv')
train_transaction = pd.read_csv('E:/Competition/Kaggle/IEEE Fraud Detection/train_transaction.csv')
test_identity = pd.read_csv('E:/Competition/Kaggle/IEEE Fraud Detection/test_identity.csv')
test_transaction = pd.read_csv('E:/Competition/Kaggle/IEEE Fraud Detection/test_transaction.csv')

Data Exploration

Transaction Data (590540 X 394)- <ol>
    <li> 'TransactionID' - Unique id for each transaction.
    <li> 'isFraud' - Labels - Y
    <li> 'TransactionDT' - timedelta from a given reference datetime (not an actual timestamp)
    <li> 'TransactionAmt' - transaction payment amount in USD
    <li> 'ProductCD' - product code, the product for each transaction
    <li> card1 - card6: payment card information, such as card type, card category, issue bank, country, etc.
    <li> addr: address
    <li> dist: distance
    <li> P_ and (R__) emaildomain: purchaser and recipient email domain
    <li> C1-C14: counting, such as how many addresses are found to be associated with the payment card, etc. The actual meaning is masked.
    <li> D1-D15: timedelta, such as days between previous transaction, etc.
    <li> M1-M9: match, such as names on card and address, etc.
    <li> Vxxx: Vesta engineered rich features, including ranking, counting, and other entity relations.

In [21]:
train_transaction.shape

(590540, 394)

In [20]:
train_transaction.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338',
       'V339'],
      dtype='object', length=394)

In [23]:
len(train_transaction.TransactionID)

590540

In [5]:
train_transaction.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
train_transaction.iloc[0:3,0:20]

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,dist1,dist2,P_emaildomain,R_emaildomain,C1,C2,C3
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,credit,315.0,87.0,19.0,NaN,NaN,NaN,1.0,1.0,0.0
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,87.0,NaN,NaN,gmail.com,NaN,1.0,1.0,0.0
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,330.0,87.0,287.0,NaN,outlook.com,NaN,1.0,1.0,0.0

In [18]:
train_transaction.card6.value_counts()

debit              439938
credit             148986
debit or credit        30
charge card            15
Name: card6, dtype: int64

In [19]:
train_identity.columns

Index(['TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06',
       'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14',
       'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22',
       'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30',
       'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object')

In [10]:
train_identity.iloc[0:2,0:20]

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,id_10,id_11,id_12,id_13,id_14,id_15,id_16,id_17,id_18,id_19
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NotFound,NaN,-480.0,New,NotFound,166.0,NaN,542.0
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,NaN,100.0,NotFound,49.0,-300.0,New,NotFound,166.0,NaN,621.0

Data Cleaning